
.forgot-password{
    display: flex;
    flex-direction: column;
    padding: 50px 25px;
}
h1{
    font-family: var(--font-primary);
    font-size: var(--display-h1-size);
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
}

  input{
    border: 1px solid var(--primary-colors-brand-grn-hvid-baggrund, #06C167);
    font-size: 12px;
    padding: 6px 12px;
    width: 100%;
    margin-bottom: 16px;
  }
  label{
    color: var(--secondary-dark-mode-80-gr-text-secondary, rgba(156, 163, 175, 0.80));
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 19px;
    margin-bottom: 6px;
  }
button{
  background-color: #06C167;
  color: black;
  cursor: pointer;
  padding:8px 16px;
  font-family: var(--font-primary);
  font-weight: 800;
}

