.reset-password{
    h1{
        font-size: var(--display-h1-size);
        font-family: var(--font-primary);
        margin-top: 50px;
        margin-bottom: 30px;
        text-align: center;
    }
    form{
        display: flex;
        flex-direction: column;
        input{
            border:  1px solid var(--color-primary);
            padding: 8px 16px;
            margin-bottom: 16px;
        }
        button{
            background-color: var(--color-primary);
            padding: 8px 16px;
        }
    }
    .icon-container {
  position: relative;
    bottom: 8px;
    left: 90%;
}
    
}